

<%- include partials/header.ejs %>



<%- include partials/main_nav.ejs %>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to COSMIC COMPANY </h1>
<br>
     <p> Welcome everyone to my Personal Homepage.
      <br>
      Hope you all are doing great.
      <br>
      I am really happy to be present in this college where am learing new stuffs everyday.
      <h4>AIM</h4>
      A computer science student passionate about
      programming and design. <br>
        I am interested in working for a company that 
        would make utilization of my potential.<br>   
      </p>
     </div>
  </div>

  

<%- include partials/bottom.ejs %>